[BrandData]

[ProductList]
sorting = "no"

[CategoryData]
==
{% if filteredList is not empty %}
{% set obProductListTemp = ProductList.make().active().brand(brandId) %}
{% set obProductList = obProductListTemp.category(filteredList) %}

{% endif %}
<!-- Content
============================================= -->
<h3 class="title-catalog-text">Каталог спецтехники</h3>
<section id="content">
    <div class="content-wrap py-0">
        <div class="section my-0 bg-white">
            <div class="container clearfix">
                <div class="cart-item__cont row justify-content-between col-mb-50">
                    {% if obCategoryList.isNotEmpty() %}
                    {% for obCategory in obCategoryList.children %}
                    <div class="cart-item p-0 col-sm-6">
                        <div class="cart-item-shadow-menu">
                            <div class="cart-item-shadow-menu__item">
                                <a class="cart-item-shadow-menu__link" href="/catalog/{{obCategory.slug}}">Все бренды</a>
                            </div>
                            {% for obBrand in obBrands %}
                            <div class="cart-item-shadow-menu__item">
                                <a href="/brand/{{obBrand.name}}?cat={{obActiveCategoryItem.id}}#reload" class="cart-item-shadow-menu__link"

                                >{{obBrand.name}}</a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="cart-item-img-cont fbox-media p-0 m-0">
                            <a class="cart-link" href="/catalog/{{obCategory.slug}}">
                                <img class="rounded" src="{{obCategory.preview_image.path}}" alt="{{obCategory.name}}">
                            </a>
                        </div>
                        <div class="cart-item__text fbox-content px-0 text-center">
                            <a class="cart-link" href="/catalog/{{obCategory.slug}}"><h2>{{obCategory.name}}</h2></a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif%}
                </div>

            </div>
        </div>
        <div class="About-company-cont">
            <div class="about-company-block-cont">
                <div class="About-company__cont">
                    <div class="About-company__text-block">
                        <div class="About-company__img-cont">
                            <img src="/themes/demo/assets/images/headset.png">
                        </div>
                        <div>
                            <h3 class="About-company__title-block">Кругосуточная поддержка</h3>
                            <p class="About-company__text-block">Наши специалисты всегда помогут Вам решить все проблемы</p>
                        </div>
                    </div>
                    <div class="About-company__text-block">
                        <div class="About-company__img-cont">
                            <img src="/themes/demo/assets/images/building.png">
                        </div>
                        <div>
                            <h3 class="About-company__title-block">Лучшие цены</h3>
                            <p class="About-company__text-block">Мы предлагаем технику по самым выгодным ценам в России</p>
                        </div>
                    </div>
                    <div class="About-company__text-block">
                        <div class="About-company__img-cont">
                            <img src="/themes/demo/assets/images/repeat.png">
                        </div>
                        <div>
                            <h3 class="About-company__title-block">Гарантия на технику</h3>
                            <p class="About-company__text-block">Заменим запчасть в случае поломки в период гарантийного срока</p>
                        </div>
                    </div>
                </div>
                <div class="About-company__cont">
                    <div class="About-company__text-block">
                        <h2 class="About-company__title">О компании</h2>
                        <p class="About-company__text">
                            Компания ООО «СДМ» — поставщик дорожно-строительной техники и коммерческого транспорта на территории СЗФО.
                            Мы осуществляем реализацию машин с 2008 года. Предлагаем выгодные решения для бизнеса наших клиентов,
                            куда входит гарантийное и послегарантийное сопровождение каждой отдельной техники в автопарке.
                        </p>
                        <div class="About-company__check-cont">
                            <div class="check-round">✓</div>
                            <p class="About-company__check-text">Вся поставляемая техника соответствует современным стандартам качества</p>
                        </div>
                        <div class="About-company__check-cont mt-0">
                            <div class="check-round">✓</div>
                            <p class="About-company__check-text">В наличии и под заказ оригинальные запасные части, а также из перечня допустимых замен</p>
                        </div>
                        <div class="About-company__button-cont">
                            <button class="About-company__button">
                                <div class="About-company__button-text">Перейти в каталог</div>
                                <div>➜</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section  my-0 sert-block">
            <div class="container clearfix">

                <div id="oc-images" class="owl-carousel image-carousel carousel-widget" data-items-xs="2" data-items-sm="3" data-items-lg="4" data-items-xl="5" data-lightbox="gallery">

                    {% for certificate in certificates %}
                    {% for img in certificate.img %}
                        <div class="oc-item">
                            <a href="{{img.getPath()}}" data-lightbox="gallery-item">
                                <img src="{{img.getPath()}}">
                            </a>
                        </div>
                    {% endfor %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="section bg-white p-0" style="

margin-top:unset;
margin-bottom:unset;
">
            <div class="" style="background-color: rgba(0, 0, 0, 0);

padding-bottom:60px;
    ">


                <div class="container clearfix">

                    <div id="oc-clients" class="owl-carousel image-carousel carousel-widget mt-5" data-margin="20" data-nav="false" data-pagi="true" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">
                        {% for brand in brands  %}
                        {% for img in brand.img %}
                        <div class="oc-item"><a target="_blank" href="#" title="Фото бренда"><img alt="Фото бренда" src="{{img.getPath()}}"></a></div>
                        {% endfor %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
