
<div>
    <form data-request="callback::onFormSubmit">
        {{ form_token() }}
        <div id="callback_forms_flash"></div>
        <p class="modal-body-text">Данные для связи</p>
        <div class="mb-3 _required  ">
            <input type="text" name="name" id="name" class="form-control modal-form-control" placeholder="Ваше имя">
        </div>
        <div class="mb-3 _required  ">
            <input type="phone" name="phone" id="phone" class="form-control modal-form-control" placeholder="Номер телефона">
        </div>
        {% if title is not empty and title != 'empty'%}
        <div class="mb-3 _required  ">
            <input type="text" name="product" id="product" class="form-control modal-form-control" value="{{title}}" disabled>
        </div>
         {% endif %}
        <div class="modal_footer">
            При заполнении формы даю согласие на обработку персональных данных в соответствии
            с <a href="{{modalFooter}}">политикой конфиденциальности сайта</a>
        </div>
        <div class="button-container">
            <button class="button button_modal button_modal_cancle" type="submit"  id="simpleContactSubmitButton">Отмена</button>
            <button class="button button_modal" type="submit"  id="simpleContactSubmitButton">Отправить</button>
        </div>
    </form>
</div>
