<div id="{{modalUnicName}}" class="modal" style="display: none">
    <div class="overlay" data-close></div>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{ modalTitle }}</h4>
            <button type="button" class="btn-close" data-close></button>
        </div>
        <div class="modal-body" id="modal-body">

        </div>
        <!-- <div id="preloader" class="visible"></div> -->
        <div class="modal_footer">
            При заполнении формы даю согласие на обработку персональных данных в соответствии
            с <a href="{{modalFooter}}">политикой конфиденциальности сайта</a>
        </div>
    </div>
</div>
<div id="{{MyModal.properties.modalUnicName}}" class="modal" style="display: none">
    <div class="overlay" data-close></div>
    <div class="modal-content">
        <div class="modal-header flex-column">
            <div class="row w-100 mb-3">
                <div class="round-img"></div>
                <button type="button" class="btn-close" data-close></button>
            </div>
            <div class="row">
                <h4 class="modal-title" id="myModalLabel">{{ modalTitle }}</h4>
                <p class="modal-title-text">Мы перезвоним в течение нескольких минут</p>
            </div>
        </div>
        <div class="modal-body" id="modal-body">

        </div>
        <div id="preloader" class="visible"></div>

    </div>
</div>
