<div class="themes_cats topmargin-xs mb-3 mb-lg-0  bigger-110">
    <div class="catalog-side-menu">
        <div class="catalog-side-menu__title"><b>Производители</b></div>
        <div class="catalog-side-menu__link-cont">
            {% if BrandList.make().active().sort().category(obActiveCategoryItem.id) is not empty %}
            {% set obBrandList = BrandList.make().active().sort().category(obActiveCategoryItem.id) %}
            {% else %}
            {% set obBrandList = BrandList.make().active().sort() %}
            {% endif %}
            {% for obBrandItem in obBrandList %}
            <a href="/brand/{{obBrandItem.slug}}" class="catalog-side-menu__item"
               {% if obBrandItem.id == obBrand.id %} style="font-weight: bold;" {% endif %}
            >{{ obBrandItem.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="catalog-side-menu catalog-side-menu--bot">
        <div class="catalog-side-menu__title catalog-side-menu__title--bg-gray"><b>Категории</b></div>
        <ul class="catalog-side-menu__ul-item">
            {% for obCategory in obCategoryList %}
            {% if obCategory.product_count > 0 %}
            <li class="nav-item active catalog-side-menu__li-item">
                <strong class="blue">{{ obCategory.name }} <span class=""> ({{obCategory.product_count }})</span></strong>
            </li>
            {% if obCategory.children is not empty %}
            <ul class="catalog-side-menu__ulul-item">
                {% for obChildCategory in obCategory.children %}
                {% if obChildCategory.product_count > 0 %}
                <li class="catalog-side-menu__lili-item">
                    <a href="/catalog/{{obChildCategory.slug}}">{{ obChildCategory.name }} <span
                        class="text-muted">({{obChildCategory.product_count }})</span></a>
                </li>
                {% if obChildCategory.children is not empty %}
                <ul class="catalog-side-menu__ululul-item">
                    {% for obChildChildCategory in obChildCategory.children %}
                    {% if obChildChildCategory.product_count > 0 %}
                    <li class="catalog-side-menu__lilili-item">
                        <a href="/catalog/{{obChildChildCategory.slug}}">{{ obChildChildCategory.name }} <span
                            class="text-muted">({{obChildChildCategory.product_count }})</span></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>
