<div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget widget_links clearfix">
                    <h4>О компании ООО &quot;СДМ&quot;</h4>

                    <div class="t300">ООО "СДМ" является поставщиком грузовой и дорожно-строительной техники на территории СЗФО с 2008 года и предлагает своим клиентам оптимальные решения для бизнеса включая подбор, продажу, гарантийное и послегарантийное обслуживание техники.</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget widget_links clearfix">
                    <h4>Дополнительная информация</h4>

                    <div class="t300">Цены, указанные на сайте, не являются публичной офертой! Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями законодательства РФ.</div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget widget_links clearfix">
                    <h4>Для СМИ</h4>

                    <div class="t300">Обращаем особое внимание на обязательное упоминание при цитировании материалов сайта. Для интернет-изданий обязательна гиперссылка.</div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="widget widget_links clearfix">
                    <h4>Контактная информация</h4>

                    <div class="t300 mb-3">Телефон:<br>
                        <a href="tel:88005509465" target="_blank" class="link-white">8-800-550-94-65</a></div>

                    <div class="t300">Адрес:<br>
                        <a href="/contacts" target="_blank" class="link-white">г. Санкт-Петербург,  ул. Софийская, дом 72</a><br>
                        <a href="/contacts" target="_blank" class="link-white">г.Мурманск, Восточно-объездная автодорога, дом 218</a><br>
                    </div>


                </div>
            </div>

        </div>

    </div><!-- .footer-widgets-wrap end -->
</div>

<!-- Copyrights
============================================= -->
<div id="copyrights">
    <div class="container">

        <div class="row justify-content-between col-mb-30">
            <div class="col-12 d-flex justify-content-between">
                <span>© 2023 ООО &quot;СДМ&quot; — поставка спецтехники, оборудования, запчастей и расходных материалов.</span>
            </div>

            <div class="col-12 col-md-4 text-center text-md-end">
                <div class="d-flex justify-content-center justify-content-md-end">




                </div>
            </div>

        </div>
    </div><!-- #copyrights end -->
    <div id="gotoTop" class="icon-angle-up"></div>

    {% partial 'scripts' %}
