<div class="page-text-container__cont--contacts">
    <div class="contact-page__container">
        <div class="contact-page__addres-cont">
            <p class="contact-page__addres-text">г. Санкт-Петербург, Софийская 72</p>
            <div class="contact-page__contact-text-cont">
                <div class="contact-page__contact-cont">
                    <p class="contact-page__text-top">Телефон</p>
                    <p class="contact-page__text-bot">8-800-550-94-65</p>
                </div>
                <div class="contact-page__contact-cont">
                    <p class="contact-page__text-top">Электронная почта</p>
                    <p class="contact-page__text-bot">info@sdm-auto.ru</p>
                </div>
            </div>
            <p class="contact-page__time-text"><span>Прием звонков:</span> с 9:00 до 18:00 (Пн-Пт)</p>
        </div>
        <div class="contact-page__map-cont">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa118ba998e4ad2bc5d958e1720d5e8fce64a41491d2d8464a207faaf0ffbe876&width=100%25&height=400&lang=ru_RU&scroll=true"></script>
        </div>
    </div>
    <div class="contact-page__container">
        <div class="contact-page__addres-cont">
            <p class="contact-page__addres-text">г.Мурманск, Восточно-объездная автодорога, дом 218
            </p>
            <div class="contact-page__contact-text-cont">
                <div class="contact-page__contact-cont">
                    <p class="contact-page__text-top">Телефон</p>
                    <p class="contact-page__text-bot">8-800-550-94-65</p>
                </div>
                <div class="contact-page__contact-cont">
                    <p class="contact-page__text-top">Электронная почта</p>
                    <p class="contact-page__text-bot">info@sdm-auto.ru</p>
                </div>
            </div>
            <p class="contact-page__time-text"><span>Прием звонков:</span> с 9:00 до 18:00 (Пн-Пт)</p>
        </div>
        <div class="contact-page__map-cont">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac090cc2388860350436182f72a45807c2aa11669cebf6381533ab4a52425d50b&width=1280&height=400&lang=ru_RU&scroll=true"></script>
        </div>
    </div>
</div>
