<div class="page-text-container__cont--vakansii lizing">
    <h2 class="page-text-container__h2">
        Лизинг для покупки спецтехники
    </h2>
    <h3 class="page-text-container__h3">
        Покупка строительной и спецтехники на оптимальных условиях — в Группе компаний SDM
    </h3>
    <div class="page-text-container__button">
        <button id="openModal" data-modal-id="{{modalUnicName}}" data-partial="{{modalPartial}}"
                class="page-button lp-button lp-button--type-1 lp-elements-2__button  _primary-fill _v2-text rounded">
            Подать заявку
        </button>
    </div>
    <h4 class="page-text-container__h4">С компанией СДМ покупка техники стала еще проще!</h4>
    <p class="page-text-container__text">
        Лизинг спецтехники является выгодным решением для вашего бизнеса.
        Используйте нужную вам технику не внося за нее арендной платы,
        а при оплате договора можно передавать ее в собственность
        или возвращать лизингодателю.В рамках лизинга вы можете постоянно пользоваться
        новой дорожно - строительной техникой и заменять ее после окончания договора,
        если она изношена.
    </p>
    <h4 class="page-text-container__h4">
        Хотите приобрести спецтехнику в лизинг?
    </h4>
    <p class="page-text-container__text">
        Отправьте заявку на приобретение оборудования через форму обратной связи на
        сайте или оформите заказ у наших менеджеров по телефону.
    </p>
    <h3 class="page-text-container__h3">
        Покупка строительной и спецтехники на оптимальных условиях — в Группе компаний SDM
    </h3>
    <div class="contact-page__contact-text-cont">
        <div class='round-number'>
            1
        </div>
        <div class="contact-page__contact-cont">
            <p class="contact-page__text-top">Заявка</p>
            <p class="contact-page__text-bot">Оставьте заявку на сайте, либо свяжитесь с нами</p>
        </div>
    </div>
    <div class="button-container button-text-size">
        <button id="openModal" data-modal-id="{{modalUnicName}}" data-partial="{{modalPartial}}"
                class="button button_modal button_modal_cancle">
            Оставить заявку
        </button>
    </div>
    <div class="contact-page__contact-text-cont">
        <div class='round-number'>
            2
        </div>
        <div class="contact-page__contact-cont">
            <p class="contact-page__text-top">
                Коммерческое Предложение
            </p>
            <p class="contact-page__text-bot">
                Мы получим предложения от банков и подберём лучшее
            </p>
        </div>
    </div>
    <div class="contact-page__contact-text-cont">
        <div class='round-number'>
            3
        </div>
        <div class="contact-page__contact-cont">
            <p class="contact-page__text-top">
                Договор
            </p>
            <p class="contact-page__text-bot">
                Подготовим необходимые документы для заключения сделки
            </p>
        </div>
    </div>
    <div class="contact-page__contact-text-cont" style="margin-bottom: 55px">
        <div class='round-number'>
            4
        </div>
        <div class="contact-page__contact-cont">
            <p class="contact-page__text-top">
                Поехали!
            </p>
            <p class="contact-page__text-bot">
                После поступления оплаты от банка, техника — Ваша
            </p>
        </div>
    </div>
    <h4 class="page-text-container__h4">
        Покупать специализированную технику в лизинг выгоднее, чем постоянно брать ее в аренду или покупать в кредит.
    </h4>
    <p class="page-text-container__text">
        При получении спецтехники право собственности переоформлению не подлежит, поэтому финансовые компании охотно
        соглашаются на сотрудничество с юридическими лицами и не проводят долгосрочные финансовые проверки.
    </p>
    <p class="page-text-container__text">
        Покупатель получает оборудование после оплаты, что исключает риск невозврата денежных средств для финансовой компании.
        При неисполнении арендатором своих обязательств оборудование изымается без дополнительных юридических осложнений.
    </p>
</div>

