<div class="page-text-container__cont--vakansii">
    <h2 class="page-text-container__h2">Текстовый заголовок</h2>
    <h3 class="page-text-container__h3">Текстовый подзаголовок</h3>
    <h4 class="page-text-container__h4">С компанией СДМ покупка техники стала еще проще!</h4>
    <p class="page-text-container__text">Лизинг спецтехники является выгодным решением для вашего бизнеса.
        Используйте нужную вам технику не внося за нее арендной платы,
        а при оплате договора можно передавать ее в собственность
        или возвращать лизингодателю.В рамках лизинга вы можете постоянно пользоваться
        новой дорожно - строительной техникой и заменять ее после окончания договора,
        если она изношена.</p>
    <div class="page-text-container__button">
        <button id="openModal" data-modal-id="{{MyModal.properties.modalUnicName}}" data-partial="{{MyModal.properties.modalPartial}}" class="button button-large button-rounded">Подать заявку</button>
    </div>
</div>
